@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  overflow-x: hidden;
}

/* Firefox, I use chromium, for now... */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
} */

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

